@model List<Blog.Domain.Core.Yorum>

@foreach (var y in Model)
{
    <div class="block clearfix">
        <header>        
            @{string adsoyad = y.Uye.Ad + "" + y.Uye.Soyad;}
            <div class="submitted"><i class="fa fa-user pr-5"></i> by <a href="#">@adsoyad</a></div>
        </header>
        makale :@Html.ActionLink(y.Makale.Baslik, "MakaleFromYorum", new { makaleID = y.MakaleID })
        <div class="image-box-body">
            <h4>Yorum İçeriği</h4>
            @*<p>@y.Icerik</p>*@
            <p>@Html.Raw(y.Icerik)</p>
            <a class="link" href="#"><span>devam...</span></a>
        </div>
    </div>
}